
<% if  logged_in? %>
<h1>Edit Pizza Here</h1>
<%= render 'form' %><br>
<% else %>
<%= " no way " %>
<% end %>
<%= link_to "Delete", {:controller => "pizzas", :action => 'destroy'}, :method => :delete if @pizza.customer == current_customer %><br><br>
