<h1>Past Pizzas</h1>

<% current_customer.pizzas.each do |p| %>
    No<%= p.id %>.  <%= p.description %><br>
    <% p.add_ons.each do |t| %>
        <li>
            <%= t.topping.name %>
        </li>
    <% end %><br>
<% end %>


