<% if @pizza.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@pizza.errors.count, "error") %> We can't save that:</h2>
    <ul>
    <% @pizza.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>   
<%= render 'form' %>
