<h1>Whats it gonna be, <%= @current_customer.username %>?</h1>
<body>

<% form_for @pizza do  |f| %> 
    <%= f.label :thin_crust %>
    <%= f.check_box :crust %>
    <%= f.submit %>
    
  <% end %>



</body>

