
<h1>You got: </h1>
<br>
<p> A <%=  @pizza.description %>
    <% @pizza.toppings.each do |t| %>
        <li>
            <%= t.name %>
        </li>
    <% end %><br>
    If this is correct you may <%= link_to "place", customer_pizzas_path(current_customer.id) %></h5> your order or <%= link_to "edit", edit_customer_pizza_path(@pizza.customer_id) %>.
</p>
